---
import type { CollectionEntry } from 'astro:content';

interface Props {
  series: CollectionEntry<'articles'>[];
}

const { series } = Astro.props;
---

<ul class="flex flex-col gap-5 bg-slate-50 rounded-lg p-4">
  {
    series.map((serie, index) => (
      <li>
        <div class="font-bold">Part {index + 1}</div>
        <a href={`/articles/${serie.slug}`}>{serie.data.title}</a>
      </li>
    ))
  }
</ul>
