html {
  background-color: #f1f5f9;
  font-size: 18px;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

@font-face {
  font-family: 'TTCommonsPro';
  src: url('/fonts/TTCommonsPro-Regular.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'TTCommonsPro';
  src: url('/fonts/TTCommonsPro-Medium.woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'TTCommonsPro';
  src: url('/fonts/TTCommonsPro-Bold.woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Reckless';
  src: url('/fonts/Reckless-LightItalic.woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Reckless';
  src: url('/fonts/Reckless-RegularItalic.woff2');
  font-weight: 400;
  font-display: swap;
}


.bg-green-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(206 232 240 / var(--tw-bg-opacity));
}