---
import Article from '@components/Article.astro';
import Pagination from '@components/Pagination.astro';
import siteMetadata from '@constants/siteMetadata';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getSeries } from '@utils/series';
import type { GetStaticPathsOptions, Page } from 'astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const series = await getSeries();
  return paginate(series, { pageSize: 10 });
}

interface Props {
  page: Page;
}

const { page } = Astro.props;
---

<BaseLayout title={`Series - ${siteMetadata.author}`} description={siteMetadata.description}>
  <ul>
    {
      page.data.map((article) => (
        <li>
          <Article article={article} />
        </li>
      ))
    }
  </ul>
  <Pagination page={page} />
</BaseLayout>
