---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout pageTitle="About">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque vel
    reprehenderit voluptatum sapiente tempora, illo dignissimos odio, labore
    esse commodi dolor temporibus harum, perspiciatis similique officia
    architecto? Illum dicta ducimus harum nihil aut at facilis corporis, in
    quibusdam iusto aperiam rerum perferendis asperiores quia officia ad
    laudantium? Odio, similique molestiae.
  </p>
</BaseLayout>
