---
import { getCollection } from 'astro:content';
import Article from '../components/Article.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const articles = await getCollection('articles', ({ data }) => !data.hideInArticleList);
---

<BaseLayout title="Articles">
  <ul>
    {
      articles.map((article) => (
        <li>
          <Article article={article} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
