---
import { getCollection } from "astro:content";
import Article from "../components/Article.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const articles = await getCollection(
  "articles",
  ({ data }) => !data.hideInArticleList
);
---

<BaseLayout pageTitle="Blog">
  <ul>
    {
      articles.map((article) => (
        <li>
          <Article
            title={article.data.title}
            url={`/articles/${article.slug}/`}
            serie={article.data.serie}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>
