---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle="Blog">
  <p>This is the blog</p>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <BlogPost title={post.frontmatter.title} url={post.url} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
