---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const allPosts = await getCollection("articles");
---

<BaseLayout pageTitle="Blog">
  <p>This is the blog</p>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <BlogPost title={post.data.title} url={`/posts/${post.slug}/`} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
