---
import Lottie from 'astro-integration-lottie/Lottie.astro';
---

<a href="/">
  <div class="logo">
    <Lottie src="/assets/lottie/logo.json" loop={false} />
  </div>
  <div class="logoText">tech_hub</div>
</a>

<style>
  a {
    @apply flex items-center gap-3;
  }

  .logoText {
    @apply hidden h-6 items-center text-xl font-light sm:flex xl:text-2xl;
  }

  .logo {
    @apply w-[5.3rem];

    :global(path) {
      @apply fill-black;
    }
  }
</style>
