<nav>
  <a href="/articles/">Articles</a>
  <a href="/videos/">Videos</a>
  <a href="/authors/">Authors</a>
  <a href="/talks/">Talks</a>
</nav>

<style>
  nav {
    @apply flex gap-5 font-semibold;
  }
</style>
