---
import type { Page } from 'astro';
import { Icon } from 'astro-icon/components';

interface Props {
  page: Page;
}

const { page } = Astro.props;
---

<div class="pagination">
  <a href={page.url.prev} class:list={{ disabled: !page.url.prev }}>
    <Icon name="arrow" class="rotate-180" />
    <span>Previous</span>
  </a>

  <div class="pages">
    {page.currentPage} of {page.lastPage}
  </div>

  <a href={page.url.next} class:list={{ disabled: !page.url.next }}>
    <span>Next</span>
    <Icon name="arrow" />
  </a>
</div>

<style>
  .pagination {
    @apply flex mx-auto items-center justify-between;
  }

  .pages {
    @apply font-bold;
  }

  a {
    @apply flex gap-4 items-center border border-black py-2 px-6 rounded-3xl;

    &.disabled {
      @apply text-gray-400 border-gray-400;
    }
  }
</style>
