---
import { Icon } from 'astro-icon/components';
---

<div class={`fixed right-8 bottom-8 hidden flex-col gap-3 md:flex `}>
  <button
    aria-label="Scroll To Top"
    type="button"
    class="rounded-full bg-gray-200 p-2 text-gray-500 transition-all hover:bg-gray-300
    dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-600"
  >
    <Icon class="h-5 w-5 -rotate-90 stroke-1 stroke-gray-500" name={'arrow'} />
  </button>
</div>

<script is:inline>
  document.addEventListener('astro:after-swap', () => {
    const button = document.querySelector('button');
    button?.classList.add('md:hidden');
  });

  document.addEventListener('astro:page-load', () => {
    const button = document.querySelector('button');
    function handleWindowScroll() {
      window.addEventListener('scroll', () => {
        if (window.scrollY > 50) {
          button?.classList.remove('md:hidden');
        } else {
          button?.classList.add('md:hidden');
        }
      });
    }

    window.addEventListener('scroll', handleWindowScroll);
    button?.addEventListener('click', () => window.scrollTo({ top: 0, behavior: 'smooth' }));
  });
</script>
