---
import { Markdown } from '@astropub/md';
import { type Articles } from '@utils/articles';
import { formatDate } from '@utils/formatDate';

interface Props {
  articles: Articles;
}

const { articles } = Astro.props;
---

<ol class="list-decimal ml-4 divide-y">
  {
    articles.map((article) => (
      <li class="p-2">
        <a href={article.slug} class="block">
          <div class="text-2xl  hover:text-io_blue-600">
            <Markdown of={article.data.title} />
          </div>
          <span>
            {formatDate(article.data.date, {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })}
          </span>
        </a>
      </li>
    ))
  }
</ol>
