---
import { Image } from 'astro:assets';
const { video } = Astro.props;
---

<a href={`/videos/${video.id}`}>
  <article>
    <header>
      <h3 set:html={video.title} />
      <p>{video.description}</p>
    </header>

    <Image
      alt={video.title}
      src={video.thumbnails.default.url.replace('default', 'maxresdefault')}
      width={1280}
      height={720}
    />
  </article>
</a>

<style>
  a {
    @apply relative flex flex-col-reverse items-center bg-gray-100 p-8;
  }

  h3 {
    @apply mb-2 text-3xl font-medium line-clamp-2;
  }

  p {
    @apply hyphens-auto text-lg line-clamp-3;
  }
</style>
