---
import BaseLayout from "../layouts/BaseLayout.astro";

import type { CollectionEntry } from "astro:content";

interface Props {
  article: CollectionEntry<"articles">;
  series?: CollectionEntry<"articles">[];
}

const { article, series } = Astro.props;
---

<BaseLayout pageTitle={article.data.title}>
  <div class="layout">
    <p>Written by {article.data.authors.join(", ")}</p>

    {
      series && (
        <ul class="series">
          {series.map((serie) => (
            <li>
              <a href={`/posts/${serie.slug}`}>{serie.data.title}</a>
            </li>
          ))}
        </ul>
      )
    }
  </div>

  <slot />

  <style>
    .layout {
      background-color: #cecece;
      color: red;
    }

    .series {
      background-color: #a1a1a1;
    }

    a {
      color: #00539f;
    }
  </style>
</BaseLayout>
